body {
    background: url('/images/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    font-family: Montserrat, sans-serif;
    color: black;
}

nav{
    background: rgb(132,167,49);
    background: radial-gradient(circle, rgba(132,167,49,1) 22%, rgba(95,116,48,1) 69%);
    color: ghostwhite;
}

strong {
    color: #88ae30 !important;
}

.btn{
    background-color: #88ae30;
    color: whitesmoke;
}

.btn-secondary{
    background-color: darkgray;
    color: whitesmoke;
}

.btn-secondary:hover{
    background-color: dimgrey !important;
}

.btn:hover{
    background-color:#78992E;
}

.navbar-brand{
    padding: 0px;
}

.local{
    margin-right: 5px;
    width:30px;
    height:30px;
}

.login{
    margin-right: 35px;
    width:20px;
    height:20px;
}

.cart{
    margin-right: 10px;
    width:30px;
    height:30px;
}

.cartlink {
    margin-right: 35px;
}

.addItemForm {
    display: inline;
}