html {
    scroll-padding-top: 60px; /* height of sticky header */
}

body {
    background: url('/images/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    font-family: Montserrat, sans-serif;
    color: black;
}

nav{
    background: rgb(132,167,49);
    background: radial-gradient(circle, rgba(132,167,49,1) 22%, rgba(95,116,48,1) 69%);
    color: ghostwhite;
}

.sticky-offset{
    top:70px;
}

.manual-text-size {
    font-size: 12px;
}

strong {
    color: #88ae30 !important;
}

.btn{
    background-color: #88ae30;
    color: whitesmoke;
}
.btn-link{
    background-color: white;
    color: black;
}

.btn-link:hover{
    background-color: #78992E;
    color: white;
}

.btn-secondary{
    background-color: darkgray;
    color: whitesmoke;
}

.btn-secondary:hover{
    background-color: dimgrey !important;
}

.btn:hover{
    background-color:#78992E;
}

.btn-no-outline:focus{
    outline: none;
    box-shadow: none;
}

.sign-in-btn{
    width: 100%;
}

.registration-btn{
    width: 100%;
    background-color: darkblue;
}

.registration-btn:hover{
    background-color: blue;
    color: whitesmoke;
}

.trash-icon{
    background-color:white;
    color: red;
}

.trash-icon:hover{
    background-color:red;
    color: white;
}

.navbar-brand{
    padding: 0px;
}

.local{
    margin-right: 5px;
    width:30px;
    height:30px;
}

.login{
    margin-right: 35px;
    width:20px;
    height:20px;
}

.cart{
    margin-right: 10px;
    width:30px;
    height:30px;
}

.cartlink {
    margin-right: 35px;
}

.addItemForm, .removeItemForm, .updateOrderItemQuantityForm {
    display: inline;
}

.transparent-container{
    width:500px;
    background:rgba(255,255,255,0.7);
    border-radius:6px;
    margin-left: auto;
    margin-right: auto;
}

.logoSignIn{
    display:block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    width:100px;
    height:100px;
}

i.cart-badge {
    width:50px;
    text-align:center;
    vertical-align:middle;
    position: relative;
}
.cart-badge:after{
    content:attr(data-count);
    position: absolute;
    background: firebrick;
    height:20px;
    top:-10px;
    right:0;
    width:20px;
    text-align: center;
    line-height: 20px;
    font-size: 9px;
    border-radius: 50%;
    color:white;
    border:1px solid firebrick;
}