<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<body>
<section layout:fragment="content">
<!-- Page Content -->
<div class="container">
    <div class="card border-0 shadow my-5">
        <div class="card-body p-5">
            <h3 class="py-3 text-center" th:text="#{title.career}"></h3>
            <p th:text="#{career.p1}"></p>
            <p th:text="#{career.p2}"></p>

            <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col">
                    <div class="card h-100 shadow">
                        <div class="card-body">
                            <h5 class="card-title" th:text="#{career.vacancy1.title}"></h5>
                            <p class="card-text" th:utext="#{career.vacancy1.text}"></p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100 shadow">
                        <div class="card-body">
                            <h5 class="card-title" th:text="#{career.vacancy2.title}"></h5>
                            <p class="card-text" th:utext="#{career.vacancy2.text}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
</body>
</html>
