<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">

<body>
<section layout:fragment="content">
<!-- Page Content -->
<div class="container">
    <div class="card border-0 shadow my-5">
        <div class="card-body p-2">
            <section class="vh-10">
                <div class="container h-100">
                    <div class="row d-flex justify-content-center h-100">
                        <div class="col">
                            <p class="mt-3"><span class="h4" th:text="'Товаров в корзине: '+${currentOrderSize}"></span></p>
                            <div class="card border-white mb-0">
                                <div class="card-body p-4 pb-0">
                                    <div class="row align-items-center">
                                        <div class="col-md-2 d-flex justify-content-center">
                                            <p class="mb-4 pb-0 lead">Фото</p>
                                        </div>
                                        <div class="col-md-2 d-flex justify-content-center">
                                            <div>
                                                <p class="mb-4 pb-0 lead">Наименование</p>
                                            </div>
                                        </div>
                                        <div class="col-md-2 d-flex justify-content-center">
                                            <div>
                                                <p class="mb-4 pb-0 lead">Описание</p>
                                            </div>
                                        </div>
                                        <div class="col-md-2 d-flex justify-content-center">
                                            <div>
                                                <p class="mb-4 pb-0 lead">Количество</p>
                                            </div>
                                        </div>
                                        <div class="col-md-2 d-flex justify-content-center">
                                            <div>
                                                <p class="mb-4 pb-0 lead">Цена</p>
                                            </div>
                                        </div>
                                        <div class="col-md-2 d-flex justify-content-center">
                                            <div>
                                                <p class="mb-4 pb-0 lead">Итог</p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="card shadow mb-4" th:each="orderItem : ${currentOrder.getOrderItemsList()}">
                                <div class="card-body p-4">
                                    <div class="row align-items-center">
                                        <div class="col-md-2">
                                            <img th:attr="src=${orderItem.getDish().getImage()}" class="img-fluid">
                                        </div>
                                        <div class="col-md-2 d-flex ">
                                            <div>
                                                <p class="lead fw-normal mb-0" th:text="${orderItem.getDish().getName()}"></p>
                                            </div>
                                        </div>
                                        <div class="col-md-2 d-flex justify-content-center">
                                            <div>
                                                <p class="small text-muted fw-normal mb-0" th:text="${orderItem.getDish().getDescription()}"></p>
                                            </div>
                                        </div>
                                        <div class="col-md-2 d-flex justify-content-center">
                                            <div class="d-flex flex-row">
                                                <form class="updateOrderItemQuantityForm" action="/updateQuantity" method="post">
                                                    <input type="hidden" name="orderItemId" th:value="${orderItem.id}">
                                                    <input type="hidden" name="delta" value="-1">
                                                <button class="btn btn-link px-2">
                                                    <i class="fas fa-minus"></i>
                                                </button>
                                                </form>
                                                <p class="lead fw-normal mb-0 px-2" th:text="${orderItem.getQuantity()}"></p>
                                                <form class="updateOrderItemQuantityForm" action="/updateQuantity" method="post">
                                                    <input type="hidden" name="orderItemId" th:value="${orderItem.id}">
                                                    <input type="hidden" name="delta" value="1">
                                                <button class="btn btn-link px-2">
                                                    <i class="fas fa-plus"></i>
                                                </button>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="col-md-2 d-flex justify-content-center">
                                            <div>
                                                <p class="lead fw-normal mb-0" th:text="${#numbers.formatDecimal(orderItem.getDish().getPrice(), 0, 'COMMA', 2, 'POINT')}+' '+'руб'"></p>
                                            </div>
                                        </div>
                                        <div class="col-md-2 d-flex justify-content-center">
                                            <div>
                                                <span class="lead fw-normal mb-0" th:text="${#numbers.formatDecimal(orderItem.getDish().getPrice()*orderItem.getQuantity(), 0, 'COMMA', 2, 'POINT')}+' '+'руб'"></span>
                                                <form class="removeItemForm" action="/removeItem" method="post">
                                                    <input type="hidden" name="orderItemId" th:value="${orderItem.id}">
                                                    <button class="btn btn-link px-2 ms-1 float-end trash-icon">
                                                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card shadow mb-5">
                                <div class="card-body p-4">

                                    <div class="float-end">
                                        <p class="mb-0 me-5 d-flex align-items-center">
                                            <span class="small text-muted me-2">Итого заказ:</span> <span class="lead fw-normal" th:text="${#numbers.formatDecimal(currentOrder.orderTotal(), 0, 'COMMA', 2, 'POINT')}+' '+'руб'"></span>
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="d-flex justify-content-end">
                                <a href="/menu" class="btn btn-outline-success btn-secondary shadow me-4">Вернуться в меню</a>
                                <a class="btn btn-outline-success shadow" href="/checkOut" role="button">Оформить заказ</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
</section>
</body>
</html>