<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<body>
<section layout:fragment="content">
<!-- Page Content -->
<div class="container">
    <div class="card border-0 shadow my-5">
        <div class="card-body p-5">
            <h3 class="py-3 text-center">Доставка</h3>

            <p>Дорогие гости! Мы работаем для вас в режиме доставки каждый день с 10:00 до 22:00. Вы можете <a href="/menu">сделать заказ</a> доставки на сайте или позвонить по нашему телефону: <a href="tel: +375 25 168-48-48">+375 25 168-48-48</a>.</p>
            <p>Доставка по Минску бесплатна, срок — не более 60 минут. Если опоздаем, вернем 50% от суммы заказа. Доставка за МКАД стоит 15 рублей. Время увеличивается до 2-х часов.</p>
            <p>Курьер перезвонит вам за 5 минут до приезда. Немного подождёте, и он постучит в дверь!</p>
            <p>Если хотите лично забрать свой заказ, у нас доступен самовывоз. Предупредите об этом оператора, мы всё организуем.</p>
            <p>Мы используем термопакеты, чтобы блюдо не остывало и оставалось таким же вкусным, как после приготовления. Так что вам не придется разогревать еду и переживать за вкусовые ощущения.</p>
        </div>
    </div>
</div>
</section>
</body>
</html>