<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<body>
<section layout:fragment="content">
<!-- Page Content -->
<div class="container">
    <div class="card border-0 shadow my-5">
        <div class="card-body p-5">
            <h3 class="py-3 text-center" th:text="#{title.feedback}"></h3>

            <div class="row mb-5">
                <div class="col">
                    <img src="images/michelin.png">
                </div>
                <div class="col d-flex flex-row-reverse">
                    <div>
                        <img src="images/award2022.png" width="190">
                        <img src="images/yandex-feedback.svg">
                    </div>
                </div>
            </div>

            <div class="card shadow mb-5">
                <div class="card-body">
                    <div class="row">
                        <div class="col-4 fs-4 text-center text-uppercase">
                            <img src="images/icons/tripadvisor.svg" width="60px">
                            <p th:text="#{feedback.author1}"></p>
                        </div>
                        <div class="col-8">
                            <p class="card-text" th:text="#{feedback.text1}"></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card shadow mb-5">
                <div class="card-body">
                    <div class="row">
                        <div class="col-4 fs-4 text-center text-uppercase">
                            <img src="images/icons/facebook.svg" width="60px">
                            <p th:text="#{feedback.author2}"></p>
                        </div>
                        <div class="col-8">
                            <p class="card-text" th:text="#{feedback.text2}"></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card shadow mb-5">
                <div class="card-body">
                    <div class="row">
                        <div class="col-4 fs-4 text-center text-uppercase">
                            <img src="images/icons/tripadvisor.svg" width="60px">
                            <p th:text="#{feedback.author3}"></p>
                        </div>
                        <div class="col-8">
                            <p class="card-text" th:text="#{feedback.text3}"></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card shadow mb-5">
                <div class="card-body">
                    <div class="row">
                        <div class="col-4 fs-4 text-center text-uppercase">
                            <img src="images/icons/tripadvisor.svg" width="60px">
                            <p th:text="#{feedback.author4}"></p>
                        </div>
                        <div class="col-8">
                            <p class="card-text" th:text="#{feedback.text4}"></p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</section>
</body>
</html>