<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<body>
<section layout:fragment="content">
<!-- Page Content -->
<div class="container">
    <div class="card border-0 shadow my-5">
        <div class="card-body p-5">
            <h3 class="py-3 text-center">Отзывы</h3>

            <div class="row mb-5">
                <div class="col">
                    <img src="images/michelin.png">
                </div>
                <div class="col d-flex flex-row-reverse">
                    <div>
                        <img src="images/award2022.png" width="190">
                        <img src="images/yandex-feedback.svg">
                    </div>
                </div>
            </div>

            <div class="card shadow mb-5">
                <div class="card-body">
                    <div class="row">
                        <div class="col-4 fs-4 text-center text-uppercase">
                            <img src="images/icons/tripadvisor.svg" width="60px">
                            <p>Анастасия Ганич</p>
                        </div>
                        <div class="col-8">
                            <p class="card-text">Узнала об этом местечке недавно, где-то месяц назад. Теперь часто прихожу сюда с семьей, подружками и сама. Здесь готовят вкусно и встречают радушно. Мне даже удалось разрушить стереотипы подруг о веганстве: теперь они знают, что я тоже могу себя побаловать. Но без жареного, вареного и вяленого — не вредя себе и животному миру. В «Укропе» вегетарианство — основа кухни, а не какой-то бедный пункт в меню. Так что однозначно советую это кафе)</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card shadow mb-5">
                <div class="card-body">
                    <div class="row">
                        <div class="col-4 fs-4 text-center text-uppercase">
                            <img src="images/icons/facebook.svg" width="60px">
                            <p>Джон Купер</p>
                        </div>
                        <div class="col-8">
                            <p class="card-text">В поисках лучшего предложения наткнулся на несколько заведений. Посетил каждое кафе, чтобы сравнить. В итоге остановился здесь и уже 2 раза заказал моё любимое блюдо — бобы с артишоками. В пользу «Укропа» сыграло его местоположение (в 5 минутах от меня) и, конечно, кухня. Качество сервиса неплохое, меню на удивление богатое. В будущем планирую заказывать тут еду на дом. Спасибо команде «Укропа», не разочаровали.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card shadow mb-5">
                <div class="card-body">
                    <div class="row">
                        <div class="col-4 fs-4 text-center text-uppercase">
                            <img src="images/icons/tripadvisor.svg" width="60px">
                            <p>Иван Дурович</p>
                        </div>
                        <div class="col-8">
                            <p class="card-text">Живу один, часто захожу сюда после работы подкрепиться. Ну и на дом беру еду тоже. Радует то, что расходы по итогам месяца терпимые, так как цены приятные. Разумеется, я также смотрю на качество блюд и работу персонала. Пока до сих пор не заметил каких-то упущений. Лишь один раз курьер опоздал на 5 минут, но я за это время не сильно проголодался. И в итоге получил свой кускус с овощами по цене в 2 раза меньше. Ребята держат слово, доверять можно)</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card shadow mb-5">
                <div class="card-body">
                    <div class="row">
                        <div class="col-4 fs-4 text-center text-uppercase">
                            <img src="images/icons/tripadvisor.svg" width="60px">
                            <p>Галина Королева</p>
                        </div>
                        <div class="col-8">
                            <p class="card-text">Пишу отзыв по своему первому впечатлению. Увидела рекламу в соцсетях и зашла сюда на днях. Могу с уверенностью сказать, что обещания «Укропа» и мои ожидания совпали. Я действительно получила вкусную еду и удобный сервис по приемлемой цене. Специально заказала знакомую лазанью с тыквой, чтобы проверить здешних поваров. Обычно я не даю второй шанс, но он тут и не потребовался. Приготовили так, как я и хотела, без переделок. А официантка красиво отказалась от моих чаевых: сказала, что примет их, когда я приду ещё раз. Что ж, определенно, мы ещё увидимся)</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</section>
</body>
</html>