<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">

<body style="background: white">
<section layout:fragment="content">
<!-- Page Content -->
<section class="index-1 position-relative d-flex justify-content-center align-items-center">
    <div class="index-background-1 position-absolute"></div>
    <h1 class="index-logo-1 text-uppercase text-light" th:text="#{footer.copyright}"></h1>
</section>

<div class="container">
    <section class="d-flex flex-column justify-content-center text-center pt-5">
        <h3>О нас</h3>
        <div class="d-flex flex-row justify-content-center align-items-center">
            <img src="/images/branch.svg" height="100" style="transform: scaleX(-1);">
            <strong>Готовим такую еду, от которой не отказываются даже мясоеды!</strong>
            <img src="/images/branch.svg" height="100">
        </div>
        <div class="row">
            <div class="col col-md-2"></div>
            <div class="col col-md-8">
                <p>Кафе «Укроп» - уютное местечко для вегетарианцев в центре Минска. Готовим и доставляем вкусную еду: приходят даже те, кто не представляет свою жизнь без мяса. У нас вегетарианство — не маркетинговый ход, а особая концепция. Мы нравимся даже строгим веганам, понравимся и вам. Вот откуда такая уверенность:</p>
                <ul class="list-unstyled">
                    <li>богатое меню: более 30 блюд;</li>
                    <li>200 постоянных клиентов и 0 недовольных;</li>
                    <li>доставляем еду в сроки либо возвращаем 50%;</li>
                    <li>ещё ни разу не переделывали блюдо;</li>
                    <li>занимаем 1-е место в рейтинге вегетарианских кафе Минска.</li>
                </ul>
                <p>
                    Ознакомьтесь с нашим меню и оставьте заявку, если хотите заказать доставку вегетарианского блюда в Минске.
                </p>
            </div>
            <div class="col col-md-2"></div>
        </div>

    </section>
</div>

<section class="index-2 position-relative text-center">
    <div class="index-background-2 position-absolute"></div>
    <h2 class="index-logo-1 text-uppercase text-light mt-5 pt-5" th:text="#{index.quotes}"></h2>
    <div class="d-flex flex-row justify-content-center align-items-center">
        <img src="/images/branch.svg" height="100" style="transform: scaleX(-1);">
        <img src="/images/branch.svg" height="100">
    </div>
    <div class="row mx-0">
        <div class="col col-md-3"></div>
        <div id="carousel-quotes" class="col col-md-6 carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner" style="width: 600px; max-width: 600px; height: 150px; max-height: 150px; text-align: center; margin-left: auto; margin-right: auto">
                <div class="carousel-item active" data-bs-interval="3000">
                    <p class="text-light">«Величие и моральный прогресс нации можно измерить тем, как в этой нации относятся к животным»</p>
                    <p class="text-light">— Махатма Ганди —</p>
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                    <p class="text-light">«Теперь я могу смотреть на вас спокойно; я вас больше не ем»</p>
                    <p class="text-light">— Франц Кафка —</p>
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                    <p class="text-light">«Ничто не принесет такой пользы человеческому здоровью и не увеличит шансы сохранения жизни на Земле, как распространение вегетарианства»</p>
                    <p class="text-light">— Альберт Эйнштейн —</p>
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                    <p class="text-light">«Животные — мои друзья… и я не ем своих друзей.»</p>
                    <p class="text-light">— Бернард Шоу —</p>
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                    <p class="text-light">«Вегетарианство считается критерием, по которому можно распознать, насколько серьезно и истинно стремление человека к моральному совершенству»</p>
                    <p class="text-light">— Лев Толстой —</p>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel-quotes" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel-quotes" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <div class="col col-md-3"></div>
    </div>
</section>

<div class="container">
    <section class="d-flex flex-column justify-content-center text-center pt-5">
        <h3>Скидки</h3>
        <div class="d-flex flex-row justify-content-center align-items-center">
            <img src="/images/branch.svg" height="100" style="transform: scaleX(-1);">
            <img src="/images/branch.svg" height="100">
        </div>
        <div class="row">
            <div class="col col-md-2"></div>
            <div class="col col-md-8">
                <p>Для наших постоянных клиентов мы предлагаем развитую систему скидок:</p>
                <ul class="list-unstyled">
                    <li>2% за регистрацию,</li>
                    <li>5% после первых пяти доставленных заказов,</li>
                    <li>10% после десяти заказов,</li>
                </ul>
                <p>
                    Так же скидки действуют при личном визите в кафе! Просто сообщите официанту ваш номер телефона и мы всё сделаем.
                </p>
            </div>
            <div class="col col-md-2"></div>
        </div>

    </section>
</div>

<section class="index-3 position-relative text-center">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2351.2972707707995!2d27.520689016092895!3d53.890920080096784!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbd163dddcad4b%3A0xd15629593efa1cde!2z0L_RgNC-0YHQv9C10LrRgiDQlNC30LXRgNC20LjQvdGB0LrQvtCz0L4gMTYsINCc0LjQvdGB0LogMjIwMDg5LCDQkdC10LvQsNGA0YPRgdGM!5e0!3m2!1sru!2sus!4v1652004980655!5m2!1sru!2sus" width="100%" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>

</section>
</body>
</html>