<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">

<body>
<section layout:fragment="content">
<!-- Page Content -->
<div class="container">
    <div class="card border-0 shadow my-5 bg-light">
        <div class="card-body p-5" th:each="category : ${categories}">
            <a th:attr="name=${category.getAnchorName()}"></a>
            <div style="height: 25px"></div>
            <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
                <h1 class="display-4 fw-normal" th:text="${category.name}"></h1>
            </div>
            <div class="row row-cols-3 g-4">
                <div class="col" th:each="dish : ${category.getDishesList()}">
                    <div class="card border-success mb-3 h-100 shadow" style="width: 20rem;">
                        <a th:attr="name='dish-'+${dish.getId()}"></a>
                        <img th:attr="src=${dish.image}" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${dish.name}"></h5>
                            <p class="card-text" th:text="${dish.description}"></p>
                        </div>
                        <div class="card-footer bg-transparent border-white">
                           <strong class="card-text fs-4 ">
                               <span th:text="${#numbers.formatDecimal(dish.price, 0, 'COMMA', 2, 'POINT')}+' '+'руб'"></span>
                           </strong>
                            <form class="addItemForm" action="/addItem" method="post">
                                <input type="hidden" name="dishId" th:value="${dish.id}">
                                <button type="submit" class="btn btn-outline-success float-end">В корзину</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
</body>
</html>