<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <script src="/js/main.js" crossorigin="anonymous"></script>
</head>

<body>
<section layout:fragment="content">
<!-- Page Content -->
    <div class="container">
        <div class="card border-0 shadow my-5 transparent-container">
            <div class="card-body p-5">
                <div class="logoSignIn">
                    <img src="/images/signIn.png">
                </div>
                <form class="needs-validation" method="post" action="/registration" novalidate="">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="firstName">Имя</label>
                            <input type="text" class="form-control" id="firstName" name="firstName" placeholder="" value="" required="" pattern="^[A-Za-zА-Яа-яёЁ\- ]+$">
                            <div class="invalid-feedback">Укажите Ваше имя </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="lastName">Фамилия</label>
                            <input type="text" class="form-control" id="lastName" name="lastName" placeholder="" value="" required="" pattern="^[A-Za-zА-Яа-яёЁ\- ]+$">
                            <div class="invalid-feedback">Укажите Вашу фамилию </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" name="email" required="">
                        <div class="invalid-feedback">Укажите Ваш email </div>
                    </div>
                    <div class="mb-3">
                        <label for="password">Пароль</label>
                        <input type="text" class="form-control" id="password" name="password" required="">
                        <div class="invalid-feedback">Укажите Ваш пароль</div>
                    </div>
                    <div class="mb-3">
                        <label for="passwordCheck">Повторите пароль</label>
                        <input type="text" class="form-control" id="passwordCheck" name="passwordCheck" required="">
                        <div class="invalid-feedback">Укажите Ваш пароль</div>
                    </div>
                    <button class="btn btn-primary rounded-pill registration-btn shadow btn-lg btn-block mt-4" type="submit">Регистрация</button>
               </form>
                    <div class="mt-4 justify-content-center text-center">
                        <span class="fw-bolder">Уже есть аккаунт?</span>
                        <a class="fw-bolder" href="/signIn" role="button">Войти</a>
                    </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>